<div id="about" class="about">
    <div class="col-md-6 about-left">
        <div id="owl-demo1" class="owl-carousel owl-carousel2">
            <div class="item">
                <div class="about-left-grid">
                    <h2>As a <span>Salesforce Developer & admin</span></h2>
                    <p style='font-size:125%'><strong>Since 2018,</strong> Having been an integral part of the Appsavio Team for over Five years, I initially joined as a Salesforce Developer and was recently promoted to the role of Development Lead six months ago. Throughout this tenure, I have successfully delivered numerous projects encompassing various Salesforce products and technologies.

                        <br/><br/>In my current capacity, I oversee a portfolio of at least distinct projects, collaborating with diverse team members. My responsibilities entail managing task allocations within the development team, providing comprehensive technical guidance, conducting thorough code reviews to ensure adherence to coding standards, and adeptly handling high-priority tasks as needed.
                        </p>
                </div>
            </div>
            <!-- <div class="item">
                <div class="about-left-grid">
                    <h2>My <span>Education</span></h2>
                    <p style='font-size:125%'>I've completed my, Vocational Training from <a href='https://www.larsentoubro.com/'>Larson & Toubro</a>.<br/><br/>
                           Bachelor of Technology from <a href="https://www.aryainstitutejpr.com/" target="_blank">Rajasthan Technical University</a>                           
                          , during the period of 2014 - 2018 with an Honours Degree.<br/><br/>
                    </p>
                </div>
            </div> -->
            <!--<div class="item">
                <div class="about-left-grid">
                    <h2>Free time Activities and <span>Hobbies</span></h2>
                    <ul style='display: grid;list-style-type: none;font-size:125%'>
                        <li>Traveling and Trekking</li><br/>
                        <li>Staying Active on Social Media</li><br/>
                        <li>Learning new technologies</li><br/>
                        <li>Watching Anime</li><br/>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
    <div class="col-md-6 about-right">

    </div>
    <div class="clearfix"> </div>
    
    <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#owl-demo1").owlCarousel({
                items: 1,
                lazyLoad: false,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: false,
            });
        });
    </script>
    <!-- Feedback -->

</div>