<div id="certs" class="blogs">
    <div class="container">
        <div class="service-head text-center">
            <h4>Certifications</h4>
            <h3>MY <span>Certifications</span></h3>
            <span class="border one"></span>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/platform-developer-2.png') }}" alt="Salesforce PD 2"/>
            </div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/cpq-specialist.png') }}" alt="Salesforce CPQ Specialist"/>
            </div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/platform-developer-1.png') }}" alt="Salesforce PD 1"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-1 cert" style='margin-right: 4%;'></div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/msDev1.png') }}" alt="Mulesoft Developer 1"/>
            </div>
            <div class="col-md-1 cert"></div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/pardotCert.png') }}" alt="Pardot Specialist"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-1 cert" style='margin-right: 4%;'></div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/platform-app-builder.png') }}" alt="Salesforce App Builder"/>
            </div>
            <div class="col-md-1 cert"></div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/administrator.png') }}" alt="Salesforce Administrator"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/CopadoAdmin.jpg') }}" alt="Copado Administrator"/>
            </div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/CopadoDev.jpg') }}" alt="Copado Developer"/>
            </div>
            <div class="col-md-4 cert">
                <img src="{{ url_for('static', filename='images/CopadoConsultant.jpg') }}" alt="Copado Consultant"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-1 cert" style='margin-right: 4%;'></div>
            <div class="col-md-4 cert">
                <img class="imgToHover" src="{{ url_for('static', filename='images/LWCUdemy.jpg') }}" alt="Udemy LWC Certified"/>
            </div>
            <div class="col-md-1 cert"></div>
            <div class="col-md-4 cert">
                <img class="imgToHover" src="{{ url_for('static', filename='images/CPQUdemy.jpg') }}" alt="Udemy CPQ Certified"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br/>
<br/>