<div id="work" class="work">
  <div class="container">
    <div class="service-head text-center">
      <h4>WHAT I DID</h4>
      <h3>MY <span>EXPERIENCE</span></h3>
      <span class="border one"></span>
    </div>
    <div class="time-main w3l-agile">
      <div class="col-md-6 year-info">
        <ul class="year">
          <li>JUN 2018 <i class="glyphicon glyphicon-arrow-right"></i> <span id="tillDate"></span></li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <ul class="col-md-6 timeline">
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><a href="https://www.appsavio.com/" target="_blank">Appsavio Solutions <i>Jaipur, India</i></a>
              </h4>
            </div>
            <div class="timeline-body">
              <p>We provide seamless Salesforce Consultancy for all business needs. We have an experienced team to deliver for various Salesforce Clouds like Sales Cloud, 
                Service Cloud, Marketing Cloud, Data Cloud, Service Cloud Voice etc. 
                We have an amazing team Developers to implement Salesforce Integrations through Rest API/ Middlewares, Data Migration, LWC/Apex Implementations etc.
              </p>
              <p><strong>Great! place to learn.</strong></p>
            </div>
          </div>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>